
.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: black;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: black;
  font-size: 14px;
  text-transform: uppercase;
}


.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
  top: calc(50% - 48px);
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(44, 73, 100, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.popup{
  position: fixed;
  color: whitesmoke;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
  top: 25%;
  padding: 80px;
  left: 35%;
  z-index: 11;
}
.popup p{
  font-size: 1.3em;
  font-weight: 500;
}

.popup input{
  width: 20vw;
  padding: 1%;
}
.popup .btns {
  padding: 2%;
  margin-top: 2%;
}

.popup .btns button:nth-of-type(1):hover{
  background-color: red;
  color: white;
}
.popup .btns button:nth-of-type(2):hover{
  background-color: green;
  color: white;
}

.head{
height: 10vh;
background-color: skyblue;
display: flex;
justify-content: center;
align-items: center;
color: white;  
}

.head p{
  margin: 0;
  padding: 0;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  font-size: 1.5em;
  font-weight: 700;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 2%;
  padding-bottom: 2%;
  border-bottom: 1px solid black;

}

.search input{
  width: 30vw;
  
}


.intro {
  margin: 0;
  padding-top: 6%;
  padding-bottom: 6%;
  height: 100%;
}

table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.mask-custom {
  background: rgba(24, 24, 16, .2);
  border-radius: 2em;
  backdrop-filter: blur(25px);
  border: 2px solid rgba(255, 255, 255, 0.05);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

.addPop{
  background-color: rgba(0, 0, 0, 0.9);
  left: 25%;
}

form div{
  margin: 2%;
}
